body {
    background-color: #0000;
}

.loader {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 5px solid #b21ad8;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #b21ad8 transparent transparent transparent;
}

.loader div:nth-child(1) {
    animation-delay: -0.45s;
}

.loader div:nth-child(2) {
    animation-delay: -0.3s;
}

.loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.title {
    transform: translateY(-640px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-move {
    transition: all .5s;
    position: absolute;
    transform: translateY(30px);
    color: red;
}

p {
    font-weight: 400;
    font-size: 19px;
    width: 60%;
    line-height: 35px;
}